@media (max-width: 820px) {
    .columns {
        height: 100vh;
        flex-direction: column;
        width: 80%;
    }
    
    .columnLeft {
        background-image: url(../../images/drawers.jpg)center/cover;
        min-height: 50vh;
        width: 100%;
    }

    .columnRigth {
        width: 100%;
    }
}