* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    font-size: 13px;
    color: var(--Very-Dark-Grayish-Blue);
}


.wrapper {
    align-items: center;
    background-color: var(--Light-Grayish-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 1440px;
    overflow: hidden;
}

.columns {
    display: flex;
    padding: 3%;
    // justify-content: space-around;
    width: 50%;
}

.columnLeft {
    background: url(../../images/drawers.jpg) center/cover;
    border-radius: ;
    width: 40%;
}

.columnRight {
    background-color: #fff;
    padding: 5% 3% 3%;
    width: 60%;
}

.title {
    font-size: 1.45rem;
}

.articleDescription p {
    font-size: 1.1rem;
    padding: 7% 3%;
}

.author {
    display: grid;
    grid-template-columns: 14% 76% 10%;
    padding: 10px;
    align-items: flex-end;
}

.imgAuthor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.divAuthorName {
    font-size: 0.6rem;
    padding-left: 2%;
}

.socialMedia {
    display: flex;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
}

.socialMedia:hover {
    background-color: var(--Very-Dark-Grayish-Blue);
    cursor: pointer;
}

.fa-share {
    color: var(--Desaturated-Dark-Blue);
    font-size: 20px;
    margin: 0 auto;
    transition: color .3s;
}

.fa-share:hover {
    color: var(--Light-Grayish-Blue);
}

.popup {
    cursor: pointer;
    text-align: left;
    position: absolute;
    z-index: 0;
}

.popup .mediaWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 248px;
    height: 55px;
    position: relative;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 7px;
    padding: 0 25px 0 25px;
    top: -80px;
}

.popup .mediaWrapper::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 55px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--Very-Dark-Grayish-Blue);
}

.popup .mediaWrapper h3 {
    color: var(--Grayish-Blue);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .7rem;
    transition: .3s;
}

.popup .mediaWrapper h3:hover {
    color: var(--Light-Grayish-Blue);
    transform: scale(1.1);
}

.popup .mediaWrapper .img1 {
    width: 20px;
    height: 20ppx;
    transition: .3s;
}

.popup .mediaWrapper .img1:hover {
    transform: scale(1.2);
}

.popup .mediaWrapper .img2 {
    width: 20px;
    height: 20ppx;
    transition: .3s;
}

.popup .mediaWrapper .img2:hover {
    transform: scale(1.2);
}

.popup .mediaWrapper .img3 {
    width: 20px;
    height: 20ppx;
    transition: .3s;
}

.popup .mediaWrapper .img3:hover {
    transform: scale(1.2);
}

.hide {
    display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

