.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    max-width: 1440px;
}

.columns {
    display: flex;
    padding: 3%;
}

.columnLeft
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

