@media (max-width: 820px) {
    .columns {
        background: url(../../images/drawers.jpg)center/cover;
        flex-direction: column;
        width: 80%;
    }

    .columnLeft {
        width: 100%;
    }

    .columnRigth {
        width: 100%;
    }
}