@media (max-width: 820px) {
    .columns {
        
        flex-direction: column;
        width: 80%;
    }

    .columnLeft {
        width: 100%;
    }

    .columnRigth {
        width: 100%;
    }
}