@media (max-width: 820px) {
    .columns {
        h
        flex-direction: column;
        width: 80%;
    }
    
    .columnLeft {
        // background: url(../../images/drawers.jpg)center/cover;
        width: 100%;
    }

    .columnRigth {
        width: 100%;
    }
}